@import 'title';
@import 'button';
@import "header";
@import "headerAllPages";
@import 'promo';
@import "possible_ordering";
@import "whatUse";
@import "aboutCompany";
@import 'gallery';
@import "map";
@import 'costing';
@import "catalog";
@import "product";
@import "footer";
@import "ourWorks";
@import "payment_and_delivery";
@import "aboutUs";
@import "contacts";
@import "consult";
@import "thanks";

.hide {
	display: none;
}
.show {
	display: block;
}
.flex {
	display: flex;
}

@media (max-width: 768px) {
    .container {
        width: 86.666%;
    }
}
