@media (max-width: 768px) {
  .about{
    margin-top: 35px;
    &_titleAExampleImg{
      margin-top: 35px;
      grid-template-columns: repeat(2, 1fr);
      gap: 13px;

    }
  }
}
@media (max-width: 578px) {
  .about{
    margin-top: 30px;
    &_titleAExampleImg{
      margin-top: 20px;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
}
@media (max-width: 480px) {

}
