@media (max-width:1440px) {
  .possible_ordering{
    gap: 50px;
    margin-top: 80px;
    &_all_examples{
      gap: 130px;
    }
  }
}
@media (max-width: 1200px) {
  .possible_ordering{
    gap: 40px;
    margin-top: 70px;
    &_all_examples{
      gap: 100px;
    }
  }
}
@media (max-width: 992px) {
  .possible_ordering{
    gap: 40px;
    margin-top: 55px;
    &_all_examples{
      gap: 40px;
    }
    &_ex1{
      flex-direction: column-reverse;
      gap: 40px;
      img{
        width: 100%;
      }
    }
    &_img{
      width: 100%;
    }
  }
  .btn_main{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .possible_ordering{
    gap: 30px;
    margin-top: 40px;
    &_all_examples{
      gap: 48px;
    }
    &_ex1, &_all_text, &_text_btn{
      gap: 20px;
    }
  }
}
@media (max-width: 480px) {
  .possible_ordering{
    gap: 20px;
    margin-top: 30px;
    &_all_examples{
      gap: 38px;
    }
    &_ex1, &_all_text, &_text_btn{
      gap: 10px;
    }
  }
}
