@media (max-width:1720px) {
    .promo {
        &_content {
            padding-top: 105px;
            .title_55 {
                margin-top: 26px;
            }
            .medium {
                margin-top: 20px;
            }
            .btn {
                margin-top: 22px;
            }
        }
        &_item {
            &_content {
                padding: 0 0 39px 26px;
            }
        }
    }
}
@media (max-width:1600px) {

}
@media (max-width:1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .promo {
        &_gradient {
            img {
                position: absolute;
                width: 200%;
                height: 57.65%;
            }
        }
        &_gradient.top {
            display: none;
        }
        &_mobile {
            display: block;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 68%;
            background-image: linear-gradient(to bottom, rgba(0,0,0,1) 79%, transparent);
        }
        &_top {
            height: 52%;
            background: #000;
            &_image {
                bottom: 0;
                width: 92%;
                height: 39%;
                img {
                    height: 100%;
                }
            }
        }
        &_bottom {
            flex-direction: column;
            height: 48%;
        }
        &_item {
            width: 100%;
        }
        &_image.top {
            bottom: 0;
            width: 100%;
            height: 55.85%;
        }
        &_content {
            padding-top: 76px;
            width: 87%;
            &_contact {
                display: none;
            }
            .title_55 {
                margin-top: 0;
            }
            .medium {
                margin-top: 12px;
                max-width: 100%;
            }
        }
    }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
