.catalog {
    &_wrapper {
        margin-top: 52px;
        padding-bottom: 200px;
        display: flex;
        gap: 5%;
    }
    &_items {
        display: flex;
        flex-wrap: wrap;
        gap: 35px 3.5%;
        width: 70%;
    }
    &_item {
        width: 31%;
        max-width: 345px;
        &_image {
            padding: 50% 0 50% 0;
            position: relative;
            border-radius: 10px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
            background: #fff;
            img {
                position: absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                max-width: 85%;
                max-height: 85%;
            }
        }
        &_parameters {
            margin-top: 7px;
            display: flex;
            gap: 19%;
        }
        &_parameter {
            display: flex;
            align-items: center;
        }
    }
    &_menu-items {
        margin-top: 4px;
        display: none;
    }
    &_menu-item {
        position: relative;
        padding: 18px 0 15px 28px;
        border-bottom: 2px solid #d9d9d9;
        cursor: pointer;
        &::before {
            position: absolute;
            top:50%;
            left: 9px;
            transform:translate(0, -50%);
            content: "";
            width: 11px;
            height: 11px;
            border-radius: 100%;
            background: #a4a4a4;
        }
    }
    &_menu-item.active {
        &::before {
            background: #008a34;
        }
    }
    aside {
        padding: 27px 25px 36px 16px;
        width: 25%;
        background: rgba(217, 217, 217, 0.5);
        border-radius: 10px;
        button {
            padding-left: 9px;
            display: flex;
            align-items: center;
            width: 100%;
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
            img {
                padding-left: 10px;
            }
        }
    }
    .title_64 {
        margin-top: 45px;
        text-align: center;
    }
    .semi-bold {
        margin-top: 19px;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    .btn_main {
        margin-top: 15px;
        width: 100%;
    }
    .btn_main_about {
        margin-top: 19px;
        width: 100%;
    }
}
