.about{
  margin-top: 50px;
  &_titleAExample{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_titleAExampleImg{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    .aboutUs_ims{
      img{
        width: 100%;
      }
    }
  }
}