.PaymentAndDelivery{
  margin-top: 50px;
  &_wrapper{
    &_title{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_content{
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 60px;
      span{
        font-weight: 500;
      }
      &_text{
        display: flex;
        flex-direction: column;

        width: 100%;
        gap: 25px;
      }
      &_imgText{
        display: flex;
        gap: 70px;
        align-items: center;
        img{
          width: 50%;
        }
      }
    }
  }
}