.product {
    &_wrapper {
        margin-top: 69px;
        display: flex;
        gap: 4%;
    }
    &_images {
        width: 48%;
        &_main {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &_bottom {
            margin-top: 21px;
            display: flex;
            gap: 3%;
            img {
                width: 22.75%;
            }
        }
    }
    &_descr {
        width: 48%;
        &_item {
            margin-top: 11px;
            padding: 12px 22px;
            display: flex;
            border-radius: 10px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
            font-weight: 600;
        }
        &_icon {
            display: flex;
            align-items: center;
            gap: 22px;
            width: 36%;
        }
        &_value {
            display: flex;
            align-items: center;
            color: #6f6e6e;
        }
        &_bottom {
            margin-top: 32px;
        }
        .title_16 {
            margin-top: 11px;
        }
        .title_32 {
            margin-bottom: 22px;
        }
    }
    &_price {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 12px;
        &_text {
            font-weight: 600;
            font-size: 16px;
        }
    }
    &_tab {
        margin-top: 94px;
        padding-bottom: 200px;
        &_wrapper {
            margin-top: 20px;
            min-height: 260px;
        }
        &_header {
            padding: 19px 22px;
            display: flex;
            gap: 50px;
            border-radius: 10px;
            background: rgba(223, 223, 223, 0.82);
        }
        &_item {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 600;
        }
        &_row {
            padding: 24px 22px 10px 22px;
            display: flex;
            width: 35%;
            border-bottom: 2px solid #d9d9d9;
            font-weight: 600;
        }
        .light {
            color: #919191;
        }
    }
    .btn_main {
        margin-top: 35px;
        width: 46%;
    }
}
