.title {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    &_24 {
        font-size: 24px;
    }
    &_55 {
        font-size: 55px;
    }
    &_64 {
        font-size: 64px;
    }
}
.medium {
	font-weight: 500;
}
.semi-bold {
	font-weight: 600;
}
.arkhip {
    font-family: 'Arkhip';
}
.cofo {
    font-family: 'CoFo Sans';
}
