.title {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    &_24 {
        font-size: 24px;
    }
    &_40{
        font-size: 40px;
    }
    &_55 {
        font-size: 55px;
    }
    &_64 {
        font-size: 64px;
    }
}
.normal{
    font-weight: 400;
}
.medium {
	  font-weight: 500;
}
.semi-bold {
	  font-weight: 600;
}
.arkhip{
    font-family: "Arkhip", serif;
}
.cofo{
    font-family: "CoFo Sans", sans-serif;
}
